/* Product Gallery */
.productGallery li img {
    height: auto;
    max-width: 100%;
    display: block;
}

.product-video {
    position: absolute;
    left: 0;
    cursor: pointer;
    z-index: 1;
    height: 100%;
}

.product-slider .slider.slider-for,
.product-slider .slider.slider-nav {
    width: 100%;
    float: left;
}

.video-thumb-wrapper {
    border: 2px solid #ff3636;
    margin: 4px 0;
    height: calc(100% - 8px);
    display: flex;
    align-items: center;
}

.image-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.product-slider .slider.slider-nav {
    overflow: hidden;
}

.slider-banner-image {
    height: 360px;
}

.thumb-wrapper.hasVideo .slider.slider-nav {
    padding: 100px 0 20px 0;
}

.product-slider .slider.slider-nav .thumbImg img {
    cursor: pointer;
}

.slider-nav .slick-list {
    margin-left: -15px;
}

.slider.slider-nav .slick-slide {
    opacity: 0.7;
    margin-left: 15px;
}

.slider.slider-nav .slick-slide.slick-current {
    opacity: 1;
}

.slider-nav .slick-slide.thumbnail-image .thumbImg {
    max-width: 178px;
    height: 110px;
    margin: 0 auto;
    border: 1px solid #EBEBEB;
}

.slider-banner-image img,
.slider-nav .slick-slide.thumbnail-image .thumbImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-gallery-image .slick-prev {
    left: -25px;
}

.product-gallery-image .slick-next {
    right: -31px;
}

.product-gallery-image .slick-prev:before,
.product-gallery-image .slick-next:before {
    font-size: 30px;
}

.product-gallery-thumb .slick-next {
    right: 0;
    bottom: 0;
    transform: translate(0, 0);
    top: auto;
    width: 100%;
    border-radius: 0;
    height: 16px;
    background: #333333;
}

.product-gallery-thumb .slick-prev {
    left: 0;
    bottom: auto;
    transform: translate(0, 0);
    top: 0;
    width: 100%;
    border-radius: 0;
    height: 16px;
    background: #333333;
}

.product-gallery-thumb .slick-next:before {
    content: '\e9c1';
    font-size: 16px;
}

.product-gallery-thumb .slick-prev:before {
    content: '\e9c2';
    font-size: 16px;
}

.image-video {
    max-width: 110px;
}

.product-slider .slider.slider-for,
.product-slider .thumb-wrapper {
    max-width: 100%;
    float: none;
}

.product-slider .slider.slider-for {
    padding-left: 0;
}

.product-slider .thumb-wrapper {
    padding-right: 0;
    order: 1;
    position: relative;
}

.product-slider .thumb-wrapper {
    height: auto;
}

.thumb-wrapper.hasVideo .slider.slider-nav.thumb-image {
    padding: 4px 0 0 120px;
    order: 2;
}

.thumb-wrapper .slider.slider-nav.thumb-image {
    padding: 4px 0 0 0;
    order: 2;
}

.slider-nav .slick-slide span {
    padding: 5px 0;
}

.product-slider .slick-arrow {
    bottom: 0;
    width: 55px;
    display: block;
    top: 50%;
    height: 55px;
    background-color: #242831;
    transform: rotate(
            45deg
    ) translate(-24px,-35%);
    -webkit-transform: rotate(
            45deg
    ) translate(-24px,-35%);
    cursor: pointer;
    border-radius: 0;
    position: absolute;
    z-index: 99;
}

.slider-nav .slick-prev,
.slider-nav .slick-next {
    display: none !important;
}

.bid-tag {
    padding: 10px 0 15px;
}

.slider.slider-nav.thumb-image {
    white-space: nowrap;
}

.thumbnail-image.slick-slide {
    padding: 0px 5px;
    min-width: 75px;
    display: inline-block;
    float: none;
}
.lg-backdrop.in {
    opacity: .5;
}
