@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-SemiBold.ttf');
}

.flex-1{
    flex:1;
}

.cursor-pointer{
    cursor: pointer;
}

.fm-poppins{
    font-family: Poppins;
}

.category-box {
    background: #ededed;
    text-align: center;
    color: #45444c;
    padding: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
}

.category-hover-box {
    border-radius: 4px;
    transition: .3s;
}

.category-hover-box:hover{
    background: #ffffff;
}

.category-box-image{
    max-width: 80px;
    width: 100%;
}

.category-box .category-name {
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.5px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-left: 1px solid #dddddd;
}

.grid-item {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3),
.grid-item:nth-child(4) {
    border-top: 1px solid #dddddd;
}

.pr-wrapper {
    padding: 5px;
    display: block;
    color: #000000;
}

.pr-image {
    position: relative;
    overflow: hidden;
}

.product-button {
    position: absolute;
    bottom: 15px;
    right: 10px;
    z-index: 9;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.pr-image img {
    object-fit: cover;
    object-position: center;
    transition: .3s;
    width: 100%;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg{
    height: 80px!important;
}

.product-button > * {
    margin-bottom: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.product-button .add-to-cart, .product-button .add-wishlist {
    color: #000;
    display: block;
    text-align: center;
    background: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #036134;
    white-space: nowrap;
    margin-bottom: 5px;
    transition: .2s;
}

.pr-info {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color-image{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 1px solid #676767;
}

.pr-info .model-name {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.product-name{
    font-size: 22px;
    font-family: Poppins;
    display: flex;
    align-items: center;
}

.product-price-box {
    padding: 10px;
    background: rgba(249, 249, 249, .6);
    border: 1px solid #efefef;
    max-width: 450px;
}

.price{
    font-family: Poppins;
    font-size: 1.2rem;
}

.sub-item-wrapper {
    position: relative;
    border: 1px solid #cdcdd0;
    background-color: #fff;
}

.sub-item-info {
    padding: 10px;
    display: flex;
}

.sub-item-image {
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}

.sub-item-image img {
    width: 100px;
}

.sub-item-name{
    cursor: pointer;
}

.sub-product-info-table.table>:not(caption)>*>* {
    padding: 0.5rem 0.7rem;
}

.line {
    height: 1px;
    background-color: #dedede;
}

.sub-item-price-block {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-product-price {
    font-weight: 500;
    font-size: 16px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Basket */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form-check-input[type=checkbox]{
    margin-right: 0;
}

.count-input-wrapper {
    width: 75px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e7e9f0;
    border-radius: 2px;
    background: #fff;
}

.count_up,
.count_down {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.count_down:hover,
.count_up:hover {
    background: #ececec;
}

.count_up i,
.count_down i {
    font-size: 12px;
}

.count-input {
    max-width: 26px;
    text-align: center;
    display: block;
    padding: 5px;
    flex: 1;
    border: none;
}

.cart-product-table {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
}

.empty-basket {
    margin-bottom: 0;
    padding: 10px;
    font-family: Poppins;
}

.cart-product-table:last-child {
    border-bottom: 0;
}

.basket-product-wrapper table {
    background: #fff;
}

.basket-product-image-row {
    flex-basis: 160px;
}

.basket-product-name-row {
    flex-basis: calc(100% - 500px);
}

.basket-product-count-row {
    flex-basis: 120px;
}

.basket-product-price-row {
    flex-basis: 100px;
}

.basket-product-delete-row {
    flex-basis: 30px;
}

.basket-product-wrapper .table td,
.basket-review-wrapper .table td {
    padding: .75rem .8rem;
}

.basket-product-count-row,
.basket-product-price-row,
.basket-product-delete-row {
    text-align: center;
}

.basket-product-count-row .count-input-wrapper {
    margin: auto;
}

.basket-review-wrapper .table td {
    padding-right: 0;
    padding-left: 0;
}

.basket-product-image {
    max-width: 150px;
    width: 100%;
}

.basket-product-old-price {
    text-decoration: line-through;
    color: #868686;
    font-size: 16px;
    line-height: 1;
}

.basket-product-price {
    color: #000;
    font-size: 16px;
}

.panel-heading{
    color: #444;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #7bb80b;
    background: rgba(0, 0, 0, 0.03);
    line-height: 1;
    padding: 15px;
    margin-bottom: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: Poppins;
}

.delete-cart-item{
    cursor: pointer;
}

.table>:not(caption)>*>*{
    padding: 0.5rem 0.7rem;
}

.table th{
    font-weight: 600;
}

/* DatePicker */
.DatePicker{
    display: block!important;
}
.DatePicker__input {
    display: block;
    width: 100%;
    padding: 3.28px .75rem 4px!important;
    font-size: 1rem!important;
    font-weight: 400;
    line-height: 1.6;
    color: #4f4f4f!important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd!important;
    appearance: none;
    border-radius: .25rem;
    transition: all .2s linear;
    text-align: left!important;
}

@media (max-width: 1440px) {
    .grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 991px) {
    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 575px) {
    .grid-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}